.img1{
    background: url(/public/chefImages/Aarti\ Ahmed.png);
}
.img11{
    background: url(/public/chefImages/Abdul\ Khalid.png);
}
.img10{
    background: url(/public/chefImages/Abdul\ Malik.png);
}
.img9{
    background: url(/public/chefImages/Aftaf\ Khalid.png);
}
.img6{
    background: url(/public/chefImages/Altaf\ Mahabub.png);
}
.img7{
    background: url(/public/chefImages/Kalidur\ Rahman.png);
}
.img3{
    background: url(/public/chefImages/Khalid\ Khondokar.png);
}
.img5{
    background: url(/public/chefImages/Madhur\ Jaffrey.png);
}
.img12{
    background: url(/public/chefImages/Rohima\ Kabir.png);
}
.img8{
    background: url(/public/chefImages/Sakib\ Parthib.png);
}
.img4{
    background: url(/public/chefImages/Saliha\ Mahmood\ Ahmed.png);
}