.home-banner1{
    width: full;
    height: 600px;
    background: url(/images/b.jpg) no-repeat fixed center/cover;
}
.home-banner2{
    width: full;
    height: 600px;
    background: url(/images/c.jpg) no-repeat center center/cover;
}
.home-banner3{
    width: full;
    height: 600px;
    background: url(/images/d.jpg) no-repeat center center/cover;
}
.home-banner4{
    width: full;
    height: 600px;
    background: url(/images/g.jpg) no-repeat center center/cover;
}

.chef-1{
    background: url(https://img.freepik.com/free-photo/portrait-smiling-chef-uniform_329181-675.jpg)no-repeat center center/cover;
    border-radius: 700px 600px 700px 800px;
}
.chef-2{
    background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQTEDzEE9we3A_i1SwdKcm_UOF_W36ulc-S_jiJevF_l__Uo1D8FbtPEH9ngIkEaYFhrZc&usqp=CAU)no-repeat center center/cover;
    border-radius: 500px 100px 300px 500px;
}
.chef-3{
    background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRmAv_Q8IMuE5xdX4nW2CvCev--C96CMAJAw8ah1RIFNe7eZVxgA8n3rLRjHoI3qX_JMVk&usqp=CAU)no-repeat center center/cover;
    border-radius: 800px 800px 700px 700px;
}