.home-banner1{
    width: full;
    height: 600px;
    background: url(/images/b.jpg) no-repeat fixed center/cover;
}
.home-banner2{
    width: full;
    height: 600px;
    background: url(/images/c.jpg) no-repeat center center/cover;
}
.home-banner3{
    width: full;
    height: 600px;
    background: url(/images/d.jpg) no-repeat center center/cover;
}
.home-banner4{
    width: full;
    height: 600px;
    background: url(/images/g.jpg) no-repeat center center/cover;
}

.chef-1{
    background: url(/public/images/chef1.png)no-repeat center center/cover;
    
}
.chef-2{
    background: url(/public//images/chef2.png)no-repeat center center/cover;
}
.chef-3{
    background: url(/public/images/chef3.png)no-repeat center center/cover;
    z-index: 0;
}